:root {
}

.is-hidden {
    display: none;
}

.heat {
}

.heat .unity-base-slider--vertical .unity-base-slider__tracker {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}

.heat .unity-base-slider--vertical .unity-base-slider__dragger {
    width: 42px;
    height: 4px;
    left: 7px;
    border-width: 0;
    background-color: whitesmoke;
}

.quality-light-on {
}

.s-quality {
    background-color: rgb(108 105 98);
}

.s-quality.quality-light-on {
    background-color: rgb(236 225 31);
}

.a-quality {
    background-color: rgb(108 105 98);
}

.a-quality.quality-light-on {
    background-color: rgb(206 195 54);
}

.b-quality {
    background-color: rgb(108 105 98);
}

.b-quality.quality-light-on {
    background-color: rgb(196 181 77);
}

.c-quality {
    background-color: rgb(108 105 98);
}

.c-quality.quality-light-on {
    background-color: rgb(194 185 82);
}

.d-quality {
    background-color: rgb(108 105 98);
}

.d-quality.quality-light-on {
    background-color: rgb(175 169 107);
}
