:root {
}

.is-hidden {
    display: none;
}

.quality-light-on {
}

.s-quality {
    background-color: rgb(108 105 98);
}

.s-quality.quality-light-on {
    background-color: rgb(48 204 170);
}

.a-quality {
    background-color: rgb(108 105 98);
}

.a-quality.quality-light-on {
    background-color: rgb(83 178 170);
}

.b-quality {
    background-color: rgb(108 105 98);
}

.b-quality.quality-light-on {
    background-color: rgb(88 141 148);
}

.c-quality {
    background-color: rgb(108 105 98);
}

.c-quality.quality-light-on {
    background-color: rgb(97 129 141);
}

.d-quality {
    background-color: rgb(108 105 98);
}

.d-quality.quality-light-on {
    background-color: rgb(103 124 138);
}
